@media (min-width:768px){
    nav ul li{
        display: inline-block;
        padding: 15px;
    }
    nav ul{
        float: right;
        display: block;
        height: 100px;
    }
    nav ul li:last-child a{
        padding-right: 30px;
    }
    .toggle-nav {
        display:none;
    }

}